<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Payments</title>
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
 
<body>
 
<div class="payments-container">
    <h2 class="page-title">Payments</h2>
 
    <div class="cards">
        <div class="card">
            <h3>COD</h3>
            <p>Total Transactions</p>
            <span>1</span>
        </div>
 
        <div class="card">
            <h3>Net Banking</h3>
            <p>Total Transactions</p>
            <span>2</span>
        </div>
 
        <div class="card">
            <h3>UPI</h3>
            <p>Total Transactions</p>
            <span>5</span>
        </div>
 
        <div class="card">
            <h3>Card</h3>
            <p>Total Transactions</p>
            <span>3</span>
        </div>
    </div>
</div>
 
</body>
</html>